[package]
name = "xsd-derive"
version = "0.1.0"
authors = ["Markus Ast <m@rkusa.st>"]
edition = "2021"

[lib]
proc-macro = true

[dependencies]
Inflector = "0.11"
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "1.0", features = ["full"] }
xsd-internal = { path = "../xsd-internal" }
